@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}
.scroll::-webkit-scrollbar {
    display: none;
  }

textarea:focus, input:focus{
    outline: none;
}

textarea { resize: none; }

.hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}